<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aze Motors</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/normalize.css/normalize.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <h4 class="header__title">
                AZE MOTORS
            </h4>
            <h4 class="header__hideTitle">
                AZE MOTORS
            </h4>
            <div class="header__flexBox">
                <div class="header__flexBoxItem">
                    <h4>Unvan</h4>
                    <p>
                        Bakixanov q,M.Feteliyev
                    </p>
                </div>
                <div class="header__flexBoxItem">
                    <h4>ƏLAQƏ NÖMRƏSİ</h4>
                    <a href='tel:(+99451)777-19-42'>
                        (+994 51) 777-19-42
                    </a>
                </div>
            </div>
        </div>
        <div class="header__invoice">
            <div class="container">
                <div class="header__invoice--info">
                    <p>Date:</p>
                    <p>29.10.2020</p>
                </div>
            </div>
        </div>
    </header>
    <main>